
:root {
    --color-primary: #4361ee;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

  }
  html {
    min-height: 100%;
    overflow-y: scroll;
    box-sizing:border-box;

}    


  body {
    font-family: sans-serif;
    min-height: 100%;
    box-sizing:border-box;
    margin-bottom: -100px;
  }
  

  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  .logo span {
    color: var(--color-primary);
  }
  .menu-bar {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    transform: translateY(10%);
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 10px;
    /* text-align: center; */
    position: relative;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
    margin-right: 60px;
  }
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(255, 255, 255);
  
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: inline-block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
      display: inline-block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: rgb(212, 188, 188);
    
  }
  .icons-size{
    color: #333;
    font-size: 14px;
  }
  .action{
    position: fixed;
    right: 30px;
    top:20px
  }
  .action .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
  }
  .action .profile img{
    width: 90%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
  }
  .action .menu{
    background-color:#FFF;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
  }
  .action .menu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
  }
  .action .menu::before{
    background-color:#fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform:rotate(45deg);
    top:-5px;
    width: 20px;
  }
  .action .menu h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
  }
  .action .menu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
  }
  .action .menu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
  }
  .action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
  }
  .action .menu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .action .menu ul li:hover img{
    opacity: 1;
  }
  .action .menu ul li:hover a{
    color:#4361ee;
  
  
  }
  #image1{
    transform: translateY(170%);
    margin-left: 50px;
    filter: grayscale();
  }
  #name1{
font-size: xx-large;
    margin-left: 160px;
    transform: translateY(160%);
    font-weight: bolder;
  }
  #welcome{
margin-left: 160px;
transform: translateY(200%);
font-size: x-large;
font-weight: lighter;

  }
  #log{
margin-left: 160px;
transform: translateY(300%);
opacity: 40%;
  }

.boxed {
  height: 60px;
  border: 2px solid black ;
  background-color: yellow;
  transform: translateY(30%);
}
#txtyellow{
font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  transform: translateY(30%);
    }
    :root {
      --text: #2B3044;
      --line: #BBC1E1;
      --line-active: #275EFE;
    }
    
    #p_circle {
      font-size: 16px;
      margin: 0;
      color: var( --line-active);
      margin-left: 550px;
      transform: translateY(-110%);
  
    }
    #p_circle a  {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: inherit;
      margin: 0 var(--spacing, 0px);
      transition: margin 0.25s;
    }
    #p_circle a svg {
      width: 120px;
      height: 40px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 7px) translateZ(0);
      fill: none;
      stroke: var(--stroke, var(--line));
      stroke-linecap: round;
      stroke-width: 2px;
      stroke-dasharray: var(--offset, 69px) 278px;
      stroke-dashoffset: 361px;
      transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
    }
    #p_circle a:hover {
      --spacing: 4px;
      --stroke: var(--line-active);
      --stroke-delay: .1s;
      --offset: 180px;
    }
    #can {
        margin-left: 8rem;
        font-size: larger;
    
    }
    #cannum{
        margin-left: 12rem;
       font-size: 40px;
       color: #275EFE;
    }
    #tad{
        margin-left: 11rem;
        font-size: larger;
    }
#tadprice{
    margin-left: 12.5rem;
       font-size: 40px;
       color: #275EFE;
}
#btnpay{
 
    margin-left: 12rem;
    width: 150px;
  border: 1px solid black;
    
  }
  #h5due{
    margin-left: 12rem;
    font-size: 14px;
    opacity: 70%;
  }
  #h5due_num{
    margin-left: 17rem;
    font-size: 14px;
    opacity: 70%;
    transform: translateY(-1.3rem);
  }
  .card {
margin-left: 30rem;
    width: 190px;
    height: 204px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }
   .uplangnatin{
    transform: translateY(-10rem);
   }