*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.body{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* SIDE BAR START */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar .logo_content .logo{
    margin-top: 5%;
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
}
.logo_content .logo img{
    margin-left: 28%;
    width: 85px;
    height: 85px;
}
.logo_content .logo .logo_name{
    margin-top: 5%;
    font-size: 19px;
    font-weight: 500;
}
.sidebar ul{
    margin-top: 60%;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    font-size: 18px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
    background: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    white-space: nowrap;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 14px;
}
.profile #log_out{
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
} 
.profile i{
    color: #fff;
}
/* SIDE BAR END */

/* H1 start */
body .account_h1{
    margin-top: 1%;
    margin-left: 18.5%;
}

.cssbuttons-io-button {
    margin-left: 91%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: #0004fa98;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;
  }
  
  .cssbuttons-io-button svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #0004fa98;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #0004fa98;
  }
/* H1 end */

/* Register Modal Start */
#register-modal-form{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

 .modal-form{
    background: #e6ecf0;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.top-form{
    display: flex;
    justify-content: flex-end;
}

.top-form .close-modal-form{
    cursor: pointer;
    padding: 0 20px;
    font-size: 30px;
}

.register-form h2{
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

.register-form form input{
    width: 75%;
    margin-bottom: 20px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 1px solid #d0d5d8;
    border-radius: 3px; 
}

.register-form .submit-btn-1{
    padding: 10px 0;
    width: 75%;
    background: #4023e6;
    border: 0;
    border-radius: 12px;
    color: white;
    margin-bottom: 2%;
    cursor: pointer;
}

.register-form .submit-btn-2{
    padding: 10px 0;
    width: 75%;
    background: #5d83ca;
    border: 0;
    border-radius: 12px;
    color: white;
    margin-bottom: 2%;
    cursor: pointer;
}

.register-form .input {
    max-width: 75%;
    height: 45px;
    padding: 12px;
    margin-top: -2%;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
}

.register-form .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}


.register-form .input:focus {
     border: 2px solid grey;
}

.input-2{
    width: 75%;
    height: 47px;
    padding: 12px;
    margin-top: -2%;
    margin-bottom: 4%;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
}

.register-form .input-2:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}


.register-form .input-2:focus {
     border: 2px solid grey;
}
/* Register Modal End */

/* ACCOUNT DATA TABLE START */
.dataTable {
    display: flex;
    margin-left: 17.5%;
    width: 83%;
}
.content-table {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #3a86ff;
    color: #ffffff;
    font-weight: bold;
}

.content-table th,
.content-table td {
    font-weight: 500;
    padding: 6px 20px;
    font-size: 15px;
}

.content-table tbody tr td a{
    padding: 5px;
    text-decoration: none;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Operator Button Start */
.edit{
    background: none;
    border: none;
    color: blue;
}

.delete{
    background: none;
    border: none;
    color: red;
}

td button{
    font-size: 24px;
    text-decoration: none;
}
/* Operator Button End */

/* ACCOUNT DATA TABLE END */

/* PAGINATION START */
.pagination{
    position: absolute;
    margin-left: 18.5%;

}

.p-10{
    position: absolute;
    margin-left: 18.5%;
    margin-top: 3%;
}
/* PAGINATION END */
#register-show{
    margin-right: 30rem;
}